<div class="flipper-inner component-inner">
	{{> component this}}
	<div class="flipper-widget component-widget">
		<div class="flipper-container">
			<div class="flipper stage-0">
				{{#each _items}}
					<div class="flipper-item item-{{@index}}-audio nth-child-{{@index}} state-0">
						<div class="item-audio-container"></div>
                        <div class="flipper-item-title"><div class="item-index">{{math @index "+" 1}}</div>{{{a11y_text title}}}</div>
						{{#if body}}<div class="flipper-item-body">{{{a11y_text body}}}</div>{{/if}}
						{{#if _graphic}}
							{{#if _graphic.src}}<img class="flipper-item-img" src="{{_graphic.src}}" alt="{{_graphic.alt}}">{{/if}}
						{{/if}}
						{{#if instruction}}<button class="flipper-item-instruction btn-text btn__action js-btn-action">{{{a11y_text instruction}}}</button>{{/if}}
					</div>
             
				{{/each}}
			</div>
		</div>
	</div>
</div>